# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.kch
*~
shard/test?
bench1
dhash/profile/memprofile
dhash/profile/cpuprofile
dhash/profile/profile
radix/profile/memprofile
radix/profile/cpuprofile
radix/profile/profile
.*.swp
god_cli/god_cli
persistence/test*
radix/benchmarklogs
127.0.0.1_*
127.0.0.1:*

