bin/
build/
pkg/
misc/eql/ir/*.s
src/*.o
src/**/*.o
src/**/**/*.o
tests/*_tests
tests/**/*_tests
tests/*.o
tests/**/*.o
tmp
.DS_Store
**/*.dSYM*
**/**/*.dSYM*
valgrind.log
bin/callgrind.out
bin/cachegrind.out
deps/**/**
Vagrantfile
.vagrant
sky
sky-go
