[submodule "vendor"]
	path = vendor
	url = https://github.com/cloudfoundry/govendor
[submodule "src/github.com/cloudfoundry/gosteno"]
	path = src/github.com/cloudfoundry/gosteno
	url = https://github.com/cloudfoundry/gosteno
[submodule "src/github.com/cloudfoundry/go_cfmessagebus"]
	path = src/github.com/cloudfoundry/go_cfmessagebus
	url = https://github.com/cloudfoundry/go_cfmessagebus
[submodule "src/github.com/rcrowley/go-metrics"]
	path = src/github.com/rcrowley/go-metrics
	url = https://github.com/rcrowley/go-metrics
[submodule "src/code.google.com/p/gomock"]
	path = src/code.google.com/p/gomock
	url = https://github.com/rafrombrc/gomock.git
[submodule "src/github.com/cloudfoundry/yagnats"]
	path = src/github.com/cloudfoundry/yagnats
	url = https://github.com/cloudfoundry/yagnats.git
