{
	"Zookeeper": {
		"Workers": ["localhost:2181"],
		"Dir":     "/circuit/sumr"
	},
	"Deploy": {
		"Dir":    "/Users/petar/.sumr/deploy",
		"Worker": "4sumr"
	},
	"Build": {
		"Host":             "localhost",
		"Jail":             "/Users/petar/.sumr/build",
		"ZookeeperInclude": "/Users/petar/gocircuit/misc/starter-kit-osx/zookeeper/include",
		"ZookeeperLib":     "/Users/petar/gocircuit/misc/starter-kit-osx/zookeeper/lib",
		"Tool":             "/Users/petar/gocircuit/bin/4build",
		"PrefixPath":       "",

		"AppRepo":          "{rsync}/Users/petar/gocircuit",
		"AppSrc":           "/tutorials/sumr",

		"GoRepo":           "{rsync}/Users/petar/go",
		"RebuildGo":        false,

		"CircuitRepo":      "{rsync}/Users/petar/gocircuit",
		"CircuitSrc":       "/",

		"WorkerPkg":        "sumr/worker",
		"CmdPkgs":          ["sumr/cmd/sumr-spawn-shard", "sumr/cmd/sumr-spawn-api"],
		"ShipDir":          "/Users/petar/.sumr/ship"
	}
}
