{
	"Zookeeper": {
		"Workers": ["localhost:2181"],
		"Dir":     "/circuit/vena"
	},
	"Deploy": {
		"Dir":    "/Users/petar/.vena/deploy",
		"Worker": "4vena"
	},
	"Build": {
		"Host":             "localhost",
		"Jail":             "/Users/petar/.vena/build",
		"ZookeeperInclude": "/Users/petar/gocircuit/misc/starter-kit-osx/zookeeper/include",
		"ZookeeperLib":     "/Users/petar/gocircuit/misc/starter-kit-osx/zookeeper/lib",
		"CFLAGS":	    "-I/Users/petar/aux/leveldb/include",
		"LDFLAGS":          "-lstdc++ /Users/petar/aux/leveldb/lib/libleveldb.a",
		"Tool":             "/Users/petar/gocircuit/bin/4build",
		"PrefixPath":       "",

		"AppRepo":          "{rsync}/Users/petar/gocircuit",
		"AppSrc":           "/tutorials/vena",

		"GoRepo":           "{rsync}/Users/petar/go",
		"RebuildGo":        false,

		"CircuitRepo":      "{rsync}/Users/petar/gocircuit",
		"CircuitSrc":       "/",

		"WorkerPkg":        "vena/worker",
		"CmdPkgs":          ["vena/cmd/vena-front-start", "vena/cmd/vena-server-start"],
		"ShipDir":          "/Users/petar/.vena/ship"
	}
}
