{
	"Zookeeper": {
		"Workers": ["localhost:2181"],
		"Dir":     "/circuit/trend"
	},
	"Deploy": {
		"Dir":    "/Users/petar/.trend/deploy",
		"Worker": "4trend"
	},
	"Build": {
		"Host":             "localhost",
		"Jail":             "/Users/petar/.trend/build",
		"ZookeeperInclude": "/Users/petar/gocircuit/misc/starter-kit-osx/zookeeper/include",
		"ZookeeperLib":     "/Users/petar/gocircuit/misc/starter-kit-osx/zookeeper/lib",
		"Tool":             "/Users/petar/gocircuit/bin/4build",
		"PrefixPath":       "",

		"AppRepo":          "{rsync}/Users/petar/gocircuit",
		"AppSrc":           "/tutorials/trend",

		"GoRepo":           "{rsync}/Users/petar/go",
		"RebuildGo":        false,

		"CircuitRepo":      "{rsync}/Users/petar/gocircuit",
		"CircuitSrc":       "/",

		"WorkerPkg":        "trend/worker",
		"CmdPkgs":          ["trend/cmd/trend-spawn"],
		"ShipDir":          "/Users/petar/.trend/ship"
	}
}
