<div class="tabbable">
  <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">最新</a></li>
    <li><a href="#tab2" data-toggle="tab">最热</a></li>
  </ul>
  <div class="tab-content">
    {{$Userrole := .Userrole}}
    <div class="tab-pane active" id="tab1">
      <!-- Posts area -->
      <h3><span>日志章节</span></h3>
      <div class="posts">
      {{range .topics_latest}}
      <div class="entry" id="post-{{.Id}}">
            {{if .Attachment}}
                        <div class="thumb">
                           <a href="/view/{{.Id}}" rel="bookmark"><img width="130" height="130" src="{{.Attachment}}" class="attachment-post-thumbnail wp-post-image" alt="{{.Title}}" title="{{.Title}}" /></a>
                        </div>
            {{end}}
                        <div class="matter">
                        
                          <h2><a rel="bookmark" href="/view/{{.Id}}" title="{{.Title}}">{{.Title}}</a></h2>

                           <div class="meta"><i class="icon-calendar"></i>本话题发表于{{dateformat .Created "January 2 , 2006 at 15:04 am"}} - <i class="icon-folder-open"></i> <a href="###" title="{{.Views}}个点击">{{.Views}}点击</a> - <i class="icon-comment"></i> <a href="#comments" title="{{.ReplyCount}} 个评论">{{.ReplyCount}} 评论</a>
                           </div>
                            <div>
                              {{$cs:=html2str .Content}}
                              {{$cs:=substr $cs 0 150}}
                              {{str2html $cs}}
                            </div>
                <div>
                  {{if compare $Userrole -1000}}
                      <span><i class="fa-icon-user"></i> <a class="btn btn-mini" href="/topic/edit/{{.Id}}">编辑 &raquo;</a></span>
                      <span><i class="fa-icon-heart-empty"></i> <a class="btn btn-mini" href="/topic/delete/{{.Id}}">删除 &raquo;</a></span>
                  {{end}}
                  <span><i class="fa-icon-heart-empty"></i> <a class="btn btn-mini" onclick='javascript:$.ajax({ url: "/like/topic/{{.Id}}", context: document.body, success: function(){
               alert("喜欢成功！");
            }});'>喜欢 &raquo;</a></span>
                  <span><i class="fa-icon-heart-empty"></i> <a class="btn btn-mini" onclick='javascript:$.ajax({ url: "/hate/topic/{{.Id}}", context: document.body, success: function(){
               alert("恶心成功！");
            }});'>恶心 &raquo;</a></span>
                </div>
                        </div>
                        <div class="clearfix"></div>
      </div>
      {{end}}

      <!-- Pagination -->
          {{.pagesbar}}
        <div class="clearfix"></div>   
      </div>
    </div>
    <div class="tab-pane" id="tab2">
      <!-- Posts area -->
      <h3><span>日志章节</span></h3>
      <div class="posts">
      {{range .topics_hotness}}
      <div class="entry" id="post-{{.Id}}">
        {{if .Attachment}}
                        <div class="thumb">
                           <a href="/view/{{.Id}}" rel="bookmark"><img width="130" height="130" src="{{.Attachment}}" class="attachment-post-thumbnail wp-post-image" alt="{{.Title}}" title="{{.Title}}" /></a>
                        </div>
        {{end}}
                        <div class="matter">
                        
                          <h2><a rel="bookmark" href="/view/{{.Id}}" title="{{.Title}}">{{.Title}}</a></h2>

                           <div class="meta"><i class="icon-calendar"></i>本话题发表于{{dateformat .Created "January 2 , 2006 at 15:04 am"}} - <i class="icon-folder-open"></i> <a href="###" title="{{.Views}}个点击">{{.Views}}点击</a> - <i class="icon-comment"></i> <a href="#comments" title="{{.ReplyCount}} 个评论">{{.ReplyCount}} 评论</a>
                           </div>
                            <div>
                              {{$cs:=html2str .Content}}
                              {{$cs:=substr $cs 0 150}}
                              {{str2html $cs}}
                            </div>
                <div>
                  {{if compare $Userrole -1000}}
                      <span><i class="fa-icon-user"></i> <a class="btn btn-mini" href="/topic/edit/{{.Id}}">编辑 &raquo;</a></span>
                      <span><i class="fa-icon-heart-empty"></i> <a class="btn btn-mini" href="/topic/delete/{{.Id}}">删除 &raquo;</a></span>
                  {{end}}
                  <span><i class="fa-icon-heart-empty"></i> <a class="btn btn-mini" onclick='javascript:$.ajax({ url: "/like/topic/{{.Id}}", context: document.body, success: function(){
               alert("喜欢成功！");
            }});'>喜欢 &raquo;</a></span>
                  <span><i class="fa-icon-heart-empty"></i> <a class="btn btn-mini" onclick='javascript:$.ajax({ url: "/hate/topic/{{.Id}}", context: document.body, success: function(){
               alert("恶心成功！");
            }});'>恶心 &raquo;</a></span>
                </div>
                        </div>
                        <div class="clearfix"></div>
      </div>
      {{end}}

      <!-- Pagination -->
          {{.pagesbar}}
        <div class="clearfix"></div>   
      </div>
    </div>
  </div>
</div>