{
	"Zookeeper": {
		"Workers": ["localhost:2181"],
		"Dir":     "/circuit/hello"
	},
	"Deploy": {
		"Dir":    "/Users/petar/.hello/deploy",
		"Worker": "4hello"
	},
	"Build": {
		"Host":             "localhost",
		"Jail":             "/Users/petar/.hello/build",
		"ZookeeperInclude": "/Users/petar/gocircuit/misc/starter-kit-osx/zookeeper/include",
		"ZookeeperLib":     "/Users/petar/gocircuit/misc/starter-kit-osx/zookeeper/lib",
		"Tool":             "/Users/petar/gocircuit/bin/4build",
		"PrefixPath":       "",

		"AppRepo":          "{rsync}/Users/petar/gocircuit",
		"AppSrc":           "/tutorials/hello",

		"GoRepo":           "{rsync}/Users/petar/go",
		"RebuildGo":        false,

		"CircuitRepo":      "{rsync}/Users/petar/gocircuit",
		"CircuitSrc":       "/",

		"WorkerPkg":        "hello/worker",
		"CmdPkgs":          ["hello/cmd/hello-spawn"],
		"ShipDir":          "/Users/petar/.hello/ship"
	}
}
