{
	"Zookeeper": {
		"Workers": ["localhost:2181"],
		"RootDir": "/circuit-test"
	},
	"Install": {
		"RootDir": "/tmp/_circuit_test",
		"LibPath": ".",
		"Binary":  "4r-test"
	},
	"Build": {
		"Host":             "localhost",
		"Jail":             "/tmp/_circuit_test/build",
		"AppRepo":          "{rsync}/Users/petar/gocircuit",
		"AppSrc":           "/",
		"Pkg":              "circuit/test/xgc/worker",
		"RebuildGo":        false,
		"ZookeeperInclude": "/Users/petar/local/include/c-client-src",
		"ZookeeperLib":     "/Users/petar/local/lib",
		"CircuitRepo":      "{rsync}/Users/petar/gocircuit",
		"CircuitSrc":       "/",
		"Tool":             "/Users/petar/gocircuit/bin/4build",
		"ShipDir":          "/tmp/_circuit_test/ship"
	}
}
