<form action="" method="post">
	<div>
		<h2>节点标题:</h2>
		<input type="text" name="title" value="">
	</div>
	<div>
		
		<h2>选择分类:</h2>
		<div class="controls">
              <select id="selectError" name="category">
              	{{range .categorys}}
              		<option value="{{.Id}}">{{.Title}}</option>
              	{{end}}
              </select>
              <span class="help-inline">（选择本节点归属的上级分类，必选）</span>
        </div>
	</div>
	<div>
		<h2>节点简介：</h2>
		<textarea class="ckeditor" name="content" colspan="3" rowspan="10"></textarea>
	</div>
	<input type="submit" class="btn" value="提交">
</form>