{{template "head.html" .}}
<body>
<div id="body-wrapper">
  <!-- Wrapper for the radial gradient background -->
  <div id="sidebar">
    <div id="sidebar-wrapper">
      <!-- Sidebar with logo and menu -->
      <h2 id="sidebar-title">
        <a href="/root">{{.title_en}} rooter</a>
      </h2>

      <!-- Sidebar Profile links -->
      <div id="profile-links">
        <div>你好, <a href="#" title="Edit your profile">{{.Username}}</a>,</div>
        <div><a href="/" title="View the Site" target="_blank">浏览网站</a> | <a href="/root-logout" title="Sign Out">退出</a></div>
      </div>

      {{template "navbar.html" .}}
      <!-- End #main-nav -->
    </div>
  </div>
  <!-- End #sidebar -->
  <div id="main-content">
    <!-- Main Content Section with everything -->
    <noscript>
    <!-- Show a notification if the user has disabled javascript -->
    <div class="notification error png_bg">
      <div>
        <h2>Javascript 被禁用或不被你的浏览器支持. </h2>
        <p>请你更新升级一下浏览器好不？</p>
        <p>请不要再使用如此古老的浏览器了，简直妨碍地球转！</p>
      </div>
    </div>
    </noscript>
    <!-- Page Head -->
    <h2>分类列表</h2>
    <div class="clear"></div>
    <!-- End .clear -->
    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>
          分类列表管理
        </h3>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        {{if .MsgErr}}
          <div class="notification information png_bg">
            <a href="#" class="close"><img src="/static/themes/root/img/icons/cross_grey_small.png" title="Close this notification" alt="close"></a>
            <div>{{.MsgErr}}</div>
          </div>
        {{end}}
          <form enctype="multipart/form-data" action="" method="post">
            <fieldset>
          {{if .nodes}}
          <table>
            <thead>
              <tr>
                <th>序号</th>
                <th>分类名称</th>
                <th>简介内容</th>
                <th>创建时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              
              {{range .nodes}}
              <tr>
                <td>#{{.Id}}</td>
                <td><a href="/contact/{{.Id}}" target="_blank" title="新窗口预览">{{.Title}}</a></td>
                <td>{{$c:=html2str .Content}}{{if $c}}{{substr $c 0 20}}{{end}}</td>
                <td>{{dateformat .Created "January 2 , 2006 at 15:04 am"}}</td>
                <td>
                  <a href="/root-contact-node-edit/{{.Id}}" title="编辑分类：{{.Title}}"><img src="/static/themes/root/img/icons/pencil.png" alt="Edit" /></a> 
                  <a href='javascript:if(confirm("你确认要删除吗?"))location="/root-contact-node-del/{{.Id}}"' title="删除分类：{{.Title}}"><img src="/static/themes/root/img/icons/cross.png" alt="Delete" /></a>
                </td>
              </tr>
              {{end}}
            </tbody>
          </table>
          <div class="line"></div>
          {{else}}
            <div class="notification attention png_bg"> <a href="#" class="close"><img src="/static/themes/root/img/icons/cross_grey_small.png" title="Close this notification" alt="close"></a>
            <div>目前尚未添加过分类，请先 <a href="/root-contact">[添加设置分类]</a>.</div>
            </div>
          {{end}}
            </fieldset>
            <div class="clear"></div>
            <!-- End .clear -->
          </form>
      </div>
      <!-- End .content-box-content -->
    </div>
    <!-- End .content-box -->

    {{template "footer.html" .}}
    <!-- End #footer -->
  </div>
  <!-- End #main-content -->
</div>
</body>
</html>
